body{
  background-color: #6794DA;
  width: 90%;
  margin-left: 65px;
  color: white;

}

header{
  width: 100%;
  height: 150px;
background-color:white;}
header h1 {
padding-top: 30px;
  text-align: center;
  color: red;
 font-size: 35px;

}

#logos{ 
   width: 18%;
   margin-right: 10px;
   float: right;
}
header nav {
  font-size: 20px;
}
header nav ul {
  list-style: none;
}
header nav ul li{
  display: inline-block;
  padding: 0 10px;
  margin-top:20px;
}
.right{
  float: right;
  margin: 10px;
}
.sidebar{
  float:right;
  width: 350px;
  margin-left: 65px;
}
.img {
  width: 150px;
  float: left;
  margin: 5px;
    border: 1px solid clear;
    display:inline-block;
    vertical-align: top;
}
.img img {
    width: 200px;
    height: auto;

}
.img:hover {
    border: 3px solid green;
    height: auto;
}
.desc {
  color: white;
    padding: 15px;
    text-align: center;
} 
  
form{
    background-color: white;
    color: red;
    margin-left: 65px;
     border: 3px solid red; 
  }
#footer {
  float: left;
  clear: both;
  width:100%;
    margin: 10px 10px 0 0px;
    padding: 5px 10px 0 0px;
    border-top: white solid 3px;
}
#footer ul {
    list-style: none;
    float: right;
    display: inline-block;
}
.wrapper_form {
  color: red;
  position: relative; 
  display: inline-block;
}