
body{
	   width: 90%;
    background-color: #6794DA;
    margin-left: 65px;
  color: white;
}
header{
background-color:white;
height: 150px;
}
header h1 {
	text-align: center;
	color: red;
 padding-top: 30px;

}


#logos{ 
   width: 20%;
   margin-right: 20px;
   float: right;
}
header nav {
	font-size: 20px;

}
header nav ul {
	list-style: none;
}
header nav ul li{
	display: inline-block;
	padding: 0 10px;
	margin-top:20px;
}
.sidebar{
  padding-top: 40px;  
  float:right;
  width: 400px;
  margin-left: 65px;
}
.img {
  width: 150px;
  float: left;
  margin: 10px;
    border: 1px solid clear;
    display:inline-block;
}
.img img {
    width: 200px;
    height: auto;

}
.img:hover {
    border: 3px solid green;
    height: auto;
}
.desc {
  color: white;
    padding: 15px;

} 
main h1{
	color: white;
	margin-left: 65px;
}
.section1 {
	width: 400px;
	color: white;
	margin:65px; 
}
form{
    background-color: white;
    width: 250px;
    color: red;
    border: 1px solid red; 

    }
#footer {
    margin: 10px 10px 0 0px;
    padding: 5px 10px 0 0px;
    border-top:white solid 3px;
    
}
#footer ul {
  float: right;
  list-style: none;
  margin: 5px;
  display: inline-block;
}